*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/Resources/GaussianAssets/*
/Assets/Resources/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/Resources/GaussianAssets/*
/projects/**/Assets/Resources/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user
